// ================================================================================================
//     File Name: coming-soon.scss
//     Description: Coming Soon pages custom scss
//     ----------------------------------------------------------------------------------------------
//     Item Name: Kodatik CPanel
//
//     Author URL: https://kodatik.com
// ================================================================================================

/*========== Coming Soon Background Image =========*/

.clockCard{
    float:left;
}

.getting-started{
    font-size: 3rem;
}
.lead{
    font-size: 1rem;
}

